a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-word;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Dropdown för utloggningen */
.profile-dropdown {
    position: relative;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: none;
    z-index: 1000;
}

    .profile-menu.show {
        display: block;
    }

    .profile-menu .menu-header {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
    }

        .profile-menu .menu-header img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

    .profile-menu .menu-item {
        padding: 10px;
        text-align: left;
    }

        .profile-menu .menu-item:hover {
            background-color: #f0f0f0;
        }
